<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" verbose="true" beStrictAboutOutputDuringTests="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!--
      Some local PHP builds (Laravel Herd on macOS, for one) ship with the
      PCRE JIT disabled, which makes the 165k-line device suite roughly
      eight times slower. Force it on for the test run.
    -->
    <ini name="pcre.jit" value="1"/>
  </php>
</phpunit>
